   <footer id="colophon" class="site-footer">
    
    <div id="footer-top-section" style="background-image:url('/assets/footer-top-bg.jpg')" class="bg-image">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title-area text-center">
              <h2 class="section-title">We Are Available<br>For You 24/7</h2>
              <p class="section-title-dec">Our online support service is always 24 Hours</p>
            </div><!--/.section-title-area-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="widget-area footer-sidebar-top-1">
              <aside class="widget clearfix widget_address">
                <div class="widget-title-area">
                  <h4 class="widget-title">address</h4>
                </div><!--/.widget-title-area-->
                <div class="widget-content">
                  <p>123456789</p>
                </div>
              </aside><!--/.widget_address-->
            </div><!--/.footer-sidebar-top-1-->
          </div><!--/.col-md-3-->
          <div class="col-sm-6 col-md-3">
            <div class="widget-area footer-sidebar-top-2">
              <aside class="widget clearfix widget_call_us">
                <div class="widget-title-area">
                  <h4 class="widget-title">call</h4>
                </div><!--/.widget-title-area-->
                <div class="widget-content">
                  <p>xxxxxxxxxxxxxxxxxxx</p>
                  <p>xxxxxxxxxxxxxxxxxxx</p>
                </div>
              </aside><!--/.widget_call_us-->
            </div><!--/.footer-sidebar-top-2-->
          </div><!--/.col-md-3-->
          <div class="col-sm-6 col-md-3">
            <div class="widget-area footer-sidebar-top-3">
              <aside class="widget clearfix widget_mail_us">
                <div class="widget-title-area">
                  <h4 class="widget-title">mail</h4>
                </div><!--/.widget-title-area-->
                <div class="widget-content">
                  <p>yourmail@zzz.com</p>
                  <p>Hotelrmail@zzz.com</p>
                </div>
              </aside><!--/.widget_mail_us-->
            </div><!--/.footer-sidebar-top-3-->
          </div><!--/.col-md-3-->
          <div class="col-sm-6 col-md-3">
            <div class="widget-area footer-sidebar-top-4">
              <aside class="widget clearfix widget_social_media">
                <div class="widget-title-area">
                  <h4 class="widget-title">social Account</h4>
                </div><!--/.widget-title-area-->
                <div class="widget-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div><!--/.widget-social-->
              </aside><!--/.widget_social_media-->
            </div><!--/.footer-sidebar-top-4-->
          </div><!--/.col-md-3-->
        </div><!--/.row-->
      </div><!--/.container-fluid-->
    </div><!--/#footer-top-section-->
      <!-- Footer Bottom Section-->
     <!--/#footer-bottom-section-->
    </footer><!--/.site-footer--><!--/.site-footer-->
 