 <!--================= Content Area ===================-->
    <div data-jarallax="{&quot;speed&quot;: 0.3, &quot;imgSrc&quot;: &quot;/assets/error-bg.jpg&quot; }" class="coming-soon-page jarallax">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title-area text-center">
              <h2 class="section-title">Coming Soon</h2>
              <p class="section-title-dec">We are working on something awesome!</p>
            </div><!--/.section-title-area-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
        <div class="row">
          <div class="col-md-7 col-full-width">
            <div class="timer-content-area text-center">
              <div id="countdown"></div>
              <div class="social-share"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div><!--/.social-share-->
            </div><!--/.timer-content-area-->
          </div><!--/.col-md-7-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.coming-soon-page-->
    <!--================= Site Footer ===================-->