 <!--================= Page Wellcome Area ===================-->
    <div class="page-heading-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="page-heading">contact
            </h2><!--/.page-heading-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container--> 
    </div><!--/.page-heading-area-->
    <div class="page-nav-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb page-nav list-unstyled">
              <li><a href="<%= root_url %>">Home</a></li>
              <li>contact
              </li>
            </ul><!--/.page-nav-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.page-title-area-->
    <!--================= Content Area ===================-->
    <div class="contact-us-area margin-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="contact-us-content">
              <div class="section-align-title-area">
                <h2 class="section-align-title">contact us</h2>
              </div><!--/.section-align-title-area-->
              <div class="single-contact-info">
                <h2 class="title">Hotel Reception</h2>
                <div class="content">
                  <p>mail@zzz.com</p>
                  <p>Call Us - xxxxxxxxxxxxx</p>
                  <p>123456789</p>
                </div>
              </div><!--/.single-contact-info-->
              <div class="single-contact-info">
                <h2 class="title">Company details</h2>
                <div class="content">
                  <p>mail@zzz.com</p>
                  <p>Call Us - xxxxxxxxxxxxx</p>
                  <p>123456789</p>
                </div>
              </div><!--/.single-contact-info-->
            </div><!--/.contact-us-content-->
          </div><!--/.col-md-4-->
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <h2 class="title-text text-center">Have a question?</h2>
              </div><!--/.col-md-12-->
            </div><!--/.row-->
            <div id="contact-form-wrap">
              <div class="row">
                <div class="col-md-12">
                  <div class="sand-message-title-area text-center"><img src="/assets/message-icon.png" alt="icon">
                    <h2 class="sand-message-heading">sand us a email</h2>
                  </div><!--/.sand-message-title-area-->
                </div><!--/.col-md-12-->
                <div class="col-md-12">
                  <div id="respond" class="contact-respond">
                    <form id="contact_form" name="contactForm"  >
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <p>
                            <input type="text" name="name" id="name" aria-required="true" placeholder="Name*" class="form-controllar">
                          </p>
                        </div><!--/.col-md-6-->
                        <div class="col-md-6 col-sm-6">
                          <p>
                            <input type="text" name="email" id="email" aria-required="true" placeholder="Email*" class="form-controllar">
                          </p>
                        </div><!--/.col-md-6-->
                        <div class="col-md-12">
                          <p>
                            <input type="text" placeholder="Sub: of the email*" aria-required="true" id="url" name="url" class="form-controllar">
                          </p>
                        </div><!--/.col-md-12-->
                        <div class="col-md-12">
                          <p>
                            <textarea name="message" id="message" aria-required="true" rows="5" cols="45" placeholder="Your message" class="form-controllar"></textarea>
                          </p>
                        </div><!--/.col-md-12-->
                        <div class="col-md-12 text-center">
                          <button type="submit" class="btn btn-submit">submit</button>
                        </div><!--/.col-md-12-->
                      </div><!--/.row-->   
                    </form><!--/#contact-form-->
                  </div><!--/.contact-respond-->
                </div><!--/.col-md-12-->
              </div><!--/.row-->
            </div><!--/#contact-form-wrap-->  
          </div><!--/.row-->  
        </div><!--/.col-md-6-->  
      </div><!--/.container-->  
    </div><!--/.contact-us-area--> 
    <div class="contact-google-map-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title-area section-title-area-four text-center">
              <h4 class="sub-title">Find Our location</h4>
              <h2 class="section-title">Map &amp; Directions</h2>
              <p class="section-title-dec">Find out how to find us from your current location</p>
            </div><!--/.section-title-area--> 
          </div><!--/.col-md-12-->  
        </div><!--/.row-->
        <div class="row">
          <div class="col-md-12">
            <div class="gmaps-area">
              <div id="gmaps"> </div>
            </div>
          </div><!--/.col-md-12-->  
        </div><!--/.row-->  
      </div><!--/.container-->  
    </div><!--/.contact-google-map-area--> 
    <!--================= Site Footer ===================-->