<!--================= Page Wellcome Area ===================-->
    <div class="page-heading-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="page-heading">dining
            </h2><!--/.page-heading-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container--> 
    </div><!--/.page-heading-area-->
    <div class="page-nav-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb page-nav list-unstyled">
              <li><a href="<%= root_url %>">Home</a></li>
              <li>dining
              </li>
            </ul><!--/.page-nav-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.page-title-area-->
    <!--================= Content Area ===================-->
    <div class="page-gallery-area">
      <div class="page-gallery-carousel owl-carousel">
        <div class="item"><img src="/assets/gallery/dining/1.jpg" alt="img"></div><!--/.item-->
        <div class="item"><img src="/assets/gallery/dining/2.jpg" alt="img"></div><!--/.item-->
        <div class="item"><img src="/assets/gallery/dining/3.jpg" alt="img"></div><!--/.item-->
        <div class="item"><img src="/assets/gallery/dining/4.jpg" alt="img"></div><!--/.item-->
        <div class="item"><img src="/assets/gallery/dining/3.jpg" alt="img"></div><!--/.item-->
      </div><!--/.page-gallery-carousel-->
    </div><!--/.page-gallery-area-->
    <div class="dining-menu-page">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-full-width">
            <div class="menu-items-group">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-title-area text-center">
                    <h2 class="section-title">Our Breakfast Menu</h2>
                    <p class="section-title-dec">This Menu Active - 08:00am to 11:30am</p>
                  </div><!--/.section-title-area-->
                </div><!--/.col-md-12-->
              </div><!--/.row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="menu-item-list">
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-1.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-2.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-3.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-4.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-5.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-6.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                  </div><!--/.menu-item-list-->
                </div><!--/.col-md-12-->
              </div><!--/.row-->
            </div><!--/.menu-items-group-->
            <div class="menu-items-group">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-title-area text-center">
                    <h2 class="section-title">Our Lunch Menu</h2>
                    <p class="section-title-dec">This Menu Active - 12:00am to 04:30am</p>
                  </div><!--/.section-title-area-->
                </div><!--/.col-md-12-->
              </div><!--/.row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="menu-item-list">
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-7.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-8.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-9.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-10.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-11.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-12.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                  </div><!--/.menu-item-list-->
                </div><!--/.col-md-12-->
              </div><!--/.row-->
            </div><!--/.menu-items-group-->
            <div class="menu-items-group">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-title-area text-center">
                    <h2 class="section-title">Our Dinner Menu</h2>
                    <p class="section-title-dec">This Menu Active - 08:00am to 12:30am</p>
                  </div><!--/.section-title-area-->
                </div><!--/.col-md-12-->
              </div><!--/.row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="menu-item-list">
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-13.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-14.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-15.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-16.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-17.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-18.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                  </div><!--/.menu-item-list-->
                </div><!--/.col-md-12-->
              </div><!--/.row-->
            </div><!--/.menu-items-group-->
            <div class="menu-items-group">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-title-area text-center">
                    <h2 class="section-title">Our Fast Food</h2>
                    <p class="section-title-dec">This Menu Active anytime</p>
                  </div><!--/.section-title-area-->
                </div><!--/.col-md-12-->
              </div><!--/.row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="menu-item-list">
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-1.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-2.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-3.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-4.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-5.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 Peo</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                    <div class="item">
                      <figure class="item-thumb"><img src="/assets/menu/item-6.jpg" alt="img" class="img-responsive"></figure><!--/.item-thumb-->
                      <div class="item-title-area">
                        <h2 class="item-title">Set Menu</h2>
                        <ul class="menu-item-meta">
                          <li>Egg</li>
                          <li>Apple</li>
                          <li>Butter</li>
                          <li>Faw Ruti</li>
                          <li>Coffee</li>
                        </ul><!--/.menu-item-meta-->
                      </div><!--/.item-title-area-->
                      <div class="peo-number"><span>For 2 People</span></div><!--/.peo-number-->
                      <div class="price">
                        <div class="price-inner">$10</div>
                      </div><!--/.price-->
                    </div><!--/.item-->
                  </div><!--/.menu-item-list-->
                </div><!--/.col-md-12-->
              </div><!--/.row-->
            </div><!--/.menu-items-group-->
          </div><!--/.col-md-10-->
        </div><!--/.row-->
      </div><!--/.contaienr-->
    </div><!--/.dining-menu-page-->
    <!--================= Site Footer ===================-->