<!--================= Content Area ===================-->
    <div data-jarallax="{&quot;speed&quot;: 0.3, &quot;imgSrc&quot;: &quot;/assets/error-bg.jpg&quot; }" class="error-page-area jarallax">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="error-page-content text-center">
              <h3 class="error-title">page not found</h3>
              <h2 class="error-404"><span>404</span>Component not found</h2><a href="<%= root_url %>" class="btn btn-details link-home">Go To Home</a>
            </div><!--/.error-page-content-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.error-page-area-->
    <!--================= Site Footer ===================-->