 <!--================= Page Wellcome Area ===================-->
    <div class="page-heading-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="page-heading">events list
            </h2><!--/.page-heading-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container--> 
    </div><!--/.page-heading-area-->
    <div class="page-nav-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb page-nav list-unstyled">
              <li><a href="<%= root_url %>">Home</a></li>
              <li>event
              </li>
            </ul><!--/.page-nav-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.page-title-area-->
    <!--================= Content Area ===================-->
    <div class="event-list-area">
      <div class="container">
        <div class="row single-event list">
          <div class="col-md-7 col-md-push-5">
            <figure class="event-thumb"><img src="/assets/event/img-1.jpg" alt="img"></figure>
          </div><!--/.col-md-7-->
          <div class="col-md-5 col-md-pull-7">
            <div class="event-info">
              <div class="event-header">
                <div class="time-from">
                  <h3 class="date"><span>25</span> January</h3>
                  <h4 class="day">Wednesday</h4>
                </div><!--/.time-from-->
                <div class="time-start">
                  <h3>time</h3>
                  <h4 class="time">09am - 5pm</h4>
                </div><!--/.time-start-->
              </div><!--/.event-header-->
              <h2 class="event-title">softHopper Company’s session</h2><!--/.event-title-->
              <div class="event-content">
                <p>Sed pellentesque pulvinar arcu ac congue. Sed sed est nec justo maximus blandit. Curabitur lacinia, eros sit amet maximus suscipit, magna sapien venenatis eros, et gravida urna massa ut lectus. Quisque lacinia lacinia viverra. Nullam nec est et lorem sodales ornare a in sapien. In et urna maximus, consectetur ligula in, gravida erat. Nullam dignissim hendrerit auctor. Sed varius, dolor vitae iaculis condimentum, massa nisl cursus sapien, gravida ultrices nisi dolor non erat.</p>
              </div><!--/.event-content-->
              <div class="event-cost">
                <h3>Cost</h3><span class="price">25$</span>
              </div><!--/.event-cost-->
            </div><!--/.event-info-->
          </div><!--/.col-md-5-->
        </div><!--/.single-event-->
        <div class="row single-event list">
          <div class="col-md-7 col-md-push-5">
            <figure class="event-thumb"><img src="/assets/event/img-2.jpg" alt="img"></figure>
          </div><!--/.col-md-7-->
          <div class="col-md-5 col-md-pull-7">
            <div class="event-info">
              <div class="event-header">
                <div class="time-from">
                  <h3 class="date"><span>25</span> January</h3>
                  <h4 class="day">Wednesday</h4>
                </div><!--/.time-from-->
                <div class="time-start">
                  <h3>time</h3>
                  <h4 class="time">09am - 5pm</h4>
                </div><!--/.time-start-->
              </div><!--/.event-header-->
              <h2 class="event-title">softHopper Company’s session</h2><!--/.event-title-->
              <div class="event-content">
                <p>Sed pellentesque pulvinar arcu ac congue. Sed sed est nec justo maximus blandit. Curabitur lacinia, eros sit amet maximus suscipit, magna sapien venenatis eros, et gravida urna massa ut lectus. Quisque lacinia lacinia viverra. Nullam nec est et lorem sodales ornare a in sapien. In et urna maximus, consectetur ligula in, gravida erat. Nullam dignissim hendrerit auctor. Sed varius, dolor vitae iaculis condimentum, massa nisl cursus sapien, gravida ultrices nisi dolor non erat.</p>
              </div><!--/.event-content-->
              <div class="event-cost">
                <h3>Cost</h3><span class="price">25$</span>
              </div><!--/.event-cost-->
            </div><!--/.event-info-->
          </div><!--/.col-md-5-->
        </div><!--/.single-event-->
      </div><!--/.container-->
    </div><!--/.event-list-area-->
    <!--================= Site Footer ===================-->