<!--================= Page Wellcome Area ===================-->
    <div class="page-heading-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="page-heading">Our All Photos and Videos
            </h2><!--/.page-heading-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container--> 
    </div><!--/.page-heading-area-->
    <div class="page-nav-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb page-nav list-unstyled">
              <li><a href="<%= root_url %>">Home</a></li>
              <li>gallery
              </li>
            </ul><!--/.page-nav-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.page-title-area-->
    <!--================= Content Area ===================-->
    <div class="single-gallery-group">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title-area text-center">
              <h2 class="section-title">Our <br> Photo Gallery</h2>
              <p class="section-title-dec">Our Awesome Photos</p>
            </div><!--/.section-title-area-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
        <div class="row">
          <div class="col-md-12">
            <div class="single-gallery-content">
              <div class="row">
                <div class="col-md-12">
                  <ul class="gallery-filter-menu">
                    <li class="current-tab"><a href="#" data-filter="*" class="filter">Show All</a></li>
                    <li><a href="#" data-filter=".wedding" class="filter">wedding</a></li>
                    <li><a href="#" data-filter=".concert" class="filter">Concert</a></li>
                    <li><a href="#" data-filter=".fun" class="filter">fun</a></li>
                    <li><a href="#" data-filter=".overview" class="filter">overview</a></li>
                  </ul><!--/.gallery-filter-menu-->
                </div><!--/.col-md-12-->
              </div><!--/.row-->
              <div class="row gallery-item-content">
                <div class="col-md-3 grid overview">
                  <div class="single-item"><a href="/assets/gallery/img-1.jpg" class="image-popup-btn"><img src="/assets/gallery/img-1.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid wedding">
                  <div class="single-item"><a href="/assets/gallery/img-2.jpg" class="image-popup-btn"><img src="/assets/gallery/img-2.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid concert">
                  <div class="single-item"><a href="/assets/gallery/img-3.jpg" class="image-popup-btn"><img src="/assets/gallery/img-3.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid wedding">
                  <div class="single-item"><a href="/assets/gallery/img-4.jpg" class="image-popup-btn"><img src="/assets/gallery/img-4.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid fun">
                  <div class="single-item"><a href="/assets/gallery/img-5.jpg" class="image-popup-btn"><img src="/assets/gallery/img-5.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid wedding">
                  <div class="single-item"><a href="/assets/gallery/img-6.jpg" class="image-popup-btn"><img src="/assets/gallery/img-6.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid fun">
                  <div class="single-item"><a href="/assets/gallery/img-7.jpg" class="image-popup-btn"><img src="/assets/gallery/img-7.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid concert">
                  <div class="single-item"><a href="/assets/gallery/img-8.jpg" class="image-popup-btn"><img src="/assets/gallery/img-8.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid fun">
                  <div class="single-item"><a href="/assets/gallery/img-9.jpg" class="image-popup-btn"><img src="/assets/gallery/img-9.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid overview">
                  <div class="single-item"><a href="/assets/gallery/img-10.jpg" class="image-popup-btn"><img src="/assets/gallery/img-10.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid wedding">
                  <div class="single-item"><a href="/assets/gallery/img-11.jpg" class="image-popup-btn"><img src="/assets/gallery/img-11.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid concert">
                  <div class="single-item"><a href="/assets/gallery/img-12.jpg" class="image-popup-btn"><img src="/assets/gallery/img-12.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
              </div><!--/.gallery-item-content-->
            </div><!--/.single-gallery-content-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.single-gallery-group-->
    <div class="single-gallery-group">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title-area text-center">
              <h2 class="section-title">Our <br> Video Gallery</h2>
              <p class="section-title-dec">Our Awesome Videos</p>
            </div><!--/.section-title-area-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
        <div class="row">
          <div class="col-md-12">
            <div class="single-gallery-content">
              <div class="row">
                <div class="col-md-12">
                  <ul class="gallery-filter-menu">
                    <li class="current-tab"><a href="#" data-filter="*" class="filter">Show All</a></li>
                    <li><a href="#" data-filter=".wedding" class="filter">wedding</a></li>
                    <li><a href="#" data-filter=".concert" class="filter">Concert</a></li>
                    <li><a href="#" data-filter=".fun" class="filter">fun</a></li>
                    <li><a href="#" data-filter=".overview" class="filter">overview</a></li>
                  </ul><!--/.gallery-filter-menu-->
                </div><!--/.col-md-12-->
              </div><!--/.row-->
              <div class="row gallery-item-content">
                <div class="col-md-3 grid overview">
                  <div class="single-item format-video"><a href="https://www.youtube.com/watch?v=Ek5yiu7rmO8" class="video-popup-btn"><img src="/assets/gallery/img-1.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid wedding">
                  <div class="single-item format-video"><a href="https://www.youtube.com/watch?v=Ek5yiu7rmO8" class="video-popup-btn"><img src="/assets/gallery/img-2.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid concert">
                  <div class="single-item format-video"><a href="https://www.youtube.com/watch?v=Ek5yiu7rmO8" class="video-popup-btn"><img src="/assets/gallery/img-3.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid wedding">
                  <div class="single-item format-video"><a href="https://www.youtube.com/watch?v=Ek5yiu7rmO8" class="video-popup-btn"><img src="/assets/gallery/img-4.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid fun">
                  <div class="single-item format-video"><a href="https://www.youtube.com/watch?v=Ek5yiu7rmO8" class="video-popup-btn"><img src="/assets/gallery/img-5.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid wedding">
                  <div class="single-item format-video"><a href="https://www.youtube.com/watch?v=Ek5yiu7rmO8" class="video-popup-btn"><img src="/assets/gallery/img-6.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid fun">
                  <div class="single-item format-video"><a href="https://www.youtube.com/watch?v=Ek5yiu7rmO8" class="video-popup-btn"><img src="/assets/gallery/img-7.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid concert">
                  <div class="single-item format-video"><a href="https://www.youtube.com/watch?v=Ek5yiu7rmO8" class="video-popup-btn"><img src="/assets/gallery/img-8.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid fun">
                  <div class="single-item format-video"><a href="https://www.youtube.com/watch?v=Ek5yiu7rmO8" class="video-popup-btn"><img src="/assets/gallery/img-9.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid overview">
                  <div class="single-item format-video"><a href="https://www.youtube.com/watch?v=Ek5yiu7rmO8" class="video-popup-btn"><img src="/assets/gallery/img-10.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid wedding">
                  <div class="single-item format-video"><a href="https://www.youtube.com/watch?v=Ek5yiu7rmO8" class="video-popup-btn"><img src="/assets/gallery/img-11.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
                <div class="col-md-3 grid concert">
                  <div class="single-item format-video"><a href="https://www.youtube.com/watch?v=Ek5yiu7rmO8" class="video-popup-btn"><img src="/assets/gallery/img-12.jpg" alt="img"></a></div><!--/.single-item-->
                </div><!--/.grid-->
              </div><!--/.gallery-item-content-->
            </div><!--/.single-gallery-content-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.single-gallery-group-->
    <!--================= Site Footer ===================-->