 <!--================= Page Wellcome Area ===================-->
    <div class="page-heading-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="page-heading">Customar Review
            </h2><!--/.page-heading-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container--> 
    </div><!--/.page-heading-area-->
    <div class="page-nav-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb page-nav list-unstyled">
              <li><a href="<%= root_url %>">Home</a></li>
              <li>Customar Review
              </li>
            </ul><!--/.page-nav-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.page-title-area-->
    <!--================= Content Area ===================-->
    <div class="client-review-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="page-title text-center">Average Rating<span class="review-rating rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>(4.9) 25 Reviews</h2><!--/.page-title-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
        <div class="row">
          <div class="col-md-8">
            <div class="client-review-main mobile-extend">
              <div class="row">
                <div class="col-md-6">
                  <div class="single-client-review box-radius">
                    <header class="review-header">
                      <div class="date"><strong>Dec 25, 2016</strong></div>
                      <div class="review-rating rating pull-right"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      <h2 class="review-title text-center">“Awesome”</h2>
                    </header><!--/.review-header-->
                    <div class="review-content text-center">
                      <p>The resort is beautiful with an excellent spa. The spa rooms have a glass floor that looks down on the coral reef below. I saw many fish and moray eels as I was getting a massage. It was a wild and luxurious experience! The food and cocktails were excellent!</p>
                    </div><!--/.review-content-->
                    <footer class="review-footer">
                      <div class="client-name"><strong>By Rakib smith</strong></div>
                      <div class="client-profession pull-right">porgrammer</div>
                    </footer><!--/.review-footer-->
                  </div><!--/.single-client-review-->
                </div><!--/.col-md-6-->
                <div class="col-md-6">
                  <div class="single-client-review box-radius">
                    <header class="review-header">
                      <div class="date"><strong>Dec 25, 2016</strong></div>
                      <div class="review-rating rating pull-right"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      <h2 class="review-title text-center">“Gorgeous!”</h2>
                    </header><!--/.review-header-->
                    <div class="review-content text-center">
                      <p>The resort is beautiful with an excellent spa. The spa rooms have a glass floor that looks down on the coral reef below. I saw many fish and moray eels as I was getting a massage. It was a wild and luxurious experience! The food and cocktails were excellent!</p>
                    </div><!--/.review-content-->
                    <footer class="review-footer">
                      <div class="client-name"><strong>By Rakib smith</strong></div>
                      <div class="client-profession pull-right">porgrammer</div>
                    </footer><!--/.review-footer-->
                  </div><!--/.single-client-review-->
                </div><!--/.col-md-6-->
                <div class="clearfix hidden-xs"></div>
                <div class="col-md-6">
                  <div class="single-client-review box-radius">
                    <header class="review-header">
                      <div class="date"><strong>Dec 25, 2016</strong></div>
                      <div class="review-rating rating pull-right"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      <h2 class="review-title text-center">“Awesome”</h2>
                    </header><!--/.review-header-->
                    <div class="review-content text-center">
                      <p>The resort is beautiful with an excellent spa. The spa rooms have a glass floor that looks down on the coral reef below. I saw many fish and moray eels as I was getting a massage. It was a wild and luxurious experience! The food and cocktails were excellent!</p>
                    </div><!--/.review-content-->
                    <footer class="review-footer">
                      <div class="client-name"><strong>By Rakib smith</strong></div>
                      <div class="client-profession pull-right">porgrammer</div>
                    </footer><!--/.review-footer-->
                  </div><!--/.single-client-review-->
                </div><!--/.col-md-6-->
                <div class="col-md-6">
                  <div class="single-client-review box-radius">
                    <header class="review-header">
                      <div class="date"><strong>Dec 25, 2016</strong></div>
                      <div class="review-rating rating pull-right"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      <h2 class="review-title text-center">“Gorgeous!”</h2>
                    </header><!--/.review-header-->
                    <div class="review-content text-center">
                      <p>The resort is beautiful with an excellent spa. The spa rooms have a glass floor that looks down on the coral reef below. I saw many fish and moray eels as I was getting a massage. It was a wild and luxurious experience! The food and cocktails were excellent!</p>
                    </div><!--/.review-content-->
                    <footer class="review-footer">
                      <div class="client-name"><strong>By Rakib smith</strong></div>
                      <div class="client-profession pull-right">porgrammer</div>
                    </footer><!--/.review-footer-->
                  </div><!--/.single-client-review-->
                </div><!--/.col-md-6-->
                <div class="clearfix hidden-xs"></div>
                <div class="col-md-6">
                  <div class="single-client-review box-radius">
                    <header class="review-header">
                      <div class="date"><strong>Dec 25, 2016</strong></div>
                      <div class="review-rating rating pull-right"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      <h2 class="review-title text-center">“Awesome”</h2>
                    </header><!--/.review-header-->
                    <div class="review-content text-center">
                      <p>The resort is beautiful with an excellent spa. The spa rooms have a glass floor that looks down on the coral reef below. I saw many fish and moray eels as I was getting a massage. It was a wild and luxurious experience! The food and cocktails were excellent!</p>
                    </div><!--/.review-content-->
                    <footer class="review-footer">
                      <div class="client-name"><strong>By Rakib smith</strong></div>
                      <div class="client-profession pull-right">porgrammer</div>
                    </footer><!--/.review-footer-->
                  </div><!--/.single-client-review-->
                </div><!--/.col-md-6-->
                <div class="col-md-6">
                  <div class="single-client-review box-radius">
                    <header class="review-header">
                      <div class="date"><strong>Dec 25, 2016</strong></div>
                      <div class="review-rating rating pull-right"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      <h2 class="review-title text-center">“Gorgeous!”</h2>
                    </header><!--/.review-header-->
                    <div class="review-content text-center">
                      <p>The resort is beautiful with an excellent spa. The spa rooms have a glass floor that looks down on the coral reef below. I saw many fish and moray eels as I was getting a massage. It was a wild and luxurious experience! The food and cocktails were excellent!</p>
                    </div><!--/.review-content-->
                    <footer class="review-footer">
                      <div class="client-name"><strong>By Rakib smith</strong></div>
                      <div class="client-profession pull-right">porgrammer</div>
                    </footer><!--/.review-footer-->
                  </div><!--/.single-client-review-->
                </div><!--/.col-md-6-->
              </div><!--/.row-->   
            </div><!--/.client-review-main-->
            <div class="hidden-md hidden-lg text-center extend-btn"><span class="extend-icon"><i class="fa fa-angle-down">  </i></span></div>
          </div><!--/.col-md-8-->
          <div class="col-md-4">
            <div class="sidebar-right review-sidebar">
              <form action="#" class="review-comment-form box-radius">
                <p>Submit your review</p>
                <div class="single-input">
                  <label for="name">Name:</label>
                  <input type="text" id="name" class="form-controller">
                </div>
                <div class="single-input">
                  <label for="email">Email:</label>
                  <input type="email" id="email" class="form-controller">
                </div>
                <div class="single-input">
                  <label for="title">Review title:</label>
                  <input type="text" id="title" class="form-controller">
                </div>
                <div class="single-input">
                  <label>Rating:</label><span class="review-rating rating"><a href="#"><i class="fa fa-star-o"></i></a><a href="#"><i class="fa fa-star-o"></i></a><a href="#"><i class="fa fa-star-o"></i></a><a href="#"><i class="fa fa-star-o"></i></a><a href="#"><i class="fa fa-star-o"></i></a></span>
                </div>
                <div class="single-input">
                  <label for="message">Review:</label>
                  <textarea name="message" id="message"></textarea>
                </div>
                <div class="single-input">
                  <label for="check">
                    <input type="checkbox" id="check">Check this box to confirm you are human  
                  </label>
                </div>
                <button type="submit" class="btn btn-submit">Submit Review   </button>
              </form><!--/.review-comment-form-->   
            </div><!--/.review-sidebar-->   
          </div><!--/.col-md-4-->   
        </div><!--/.row-->   
      </div><!--/.container-->   
    </div><!--/.client-review-area-->   
    <!--================= Site Footer ===================-->