 <!--================= Page Wellcome Area ===================-->
    <div class="page-heading-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="page-heading">spa
            </h2><!--/.page-heading-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container--> 
    </div><!--/.page-heading-area-->
    <div class="page-nav-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb page-nav list-unstyled">
              <li><a href="<%= root_url %>">Home</a></li>
              <li>spa
              </li>
            </ul><!--/.page-nav-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.page-title-area-->
    <!--================= Content Area ===================-->
    <div class="page-gallery-area">
      <div class="page-gallery-carousel owl-carousel">
        <div class="item"><img src="/assets/gallery/spa/img-1.jpg" alt="img"></div><!--/.item-->
        <div class="item"><img src="/assets/gallery/spa/img-2.jpg" alt="img"></div><!--/.item-->
        <div class="item"><img src="/assets/gallery/spa/img-3.jpg" alt="img"></div><!--/.item-->
        <div class="item"><img src="/assets/gallery/spa/img-4.jpg" alt="img"></div><!--/.item-->
        <div class="item"><img src="/assets/gallery/spa/img-3.jpg" alt="img"></div><!--/.item-->
      </div><!--/.page-gallery-carousel-->
    </div><!--/.page-gallery-area-->
    <div class="spa-page-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-full-width">
            <div class="section-title-area text-center">
              <h2 class="section-title">Wellness &amp; SPA</h2>
              <p class="section-title-dec">The Morrison Hotel offers guests a deeply personalised spa experience over 15,000 square feet of the ultimate in luxury and tranquility.</p>
            </div><!--/.section-title-area-->
          </div><!--/.col-md-6-->
        </div><!--/.row-->
        <div class="row">
          <div class="col-md-5">
            <div class="section-align-title-area text-right">
              <div class="section-align-title-area">
                <h2 class="section-align-title">We provide <br> Also wellness and spa for <br>Your better relax</h2>
                <p class="section-title-dec">When a unknown printer took galley type scrambled make an specimen book. It has survived not only five centuries, but also leap into electronic typesetting remaining essentilly unchanged. It was popularised the with the releaseof Letraset sheets containingLorem Ipsum passage and more recently with desktopWhen a unknown printer took galley type scrambled make an specimen book. It has survived not only five centuries, but also leap into electronic typesetting.</p>
              </div>
            </div><!--/.section-align-title-area-->
          </div><!--/.col-md-5-->
          <div class="col-md-7">
            <div class="section-gallery-group">
              <div class="row">
                <div class="col-sm-6 col-sm-6 col-xs-6">                   
                  <figure class="item"><img src="/assets/spa-1.jpg" alt="img"></figure>
                </div>
                <div class="col-sm-6 col-sm-6 col-xs-6">
                  <figure class="item"><img src="/assets/spa-2.jpg" alt="img"></figure>
                </div>
                <div class="clearfix"></div>
              </div>
            </div><!--/.section-gallery-group-->
          </div><!--/.col-md-7-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.page-gallery-area-->
    <div class="spa-pricing-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title-area text-center">
              <h2 class="section-title">We Have Different Pricing for Your Needs</h2>
            </div><!--/.section-title-area-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-spa-pricing">
              <h2 class="title">Standard Spa</h2>
              <p>The definitive path to a blissful night’s sleep, this restful retreat will relax and reset your mind and body, lulling you peacefully into a serene slumber.</p>
              <div class="price">$99</div>
            </div><!--/.single-spa-pricing-->
          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-spa-pricing">
              <h2 class="title">Premium Spa</h2>
              <p>The definitive path to a blissful night’s sleep, this restful retreat will relax and reset your mind and body, lulling you peacefully into a serene slumber.</p>
              <div class="price">$199</div>
            </div><!--/.single-spa-pricing-->
          </div><!--/.col-md-4-->
          <div class="clearfix hidden-md hidden-lg"></div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-spa-pricing">
              <h2 class="title">Ultimate Spa</h2>
              <p>The definitive path to a blissful night’s sleep, this restful retreat will relax and reset your mind and body, lulling you peacefully into a serene slumber.</p>
              <div class="price">$299</div>
            </div><!--/.single-spa-pricing-->
          </div><!--/.col-md-4-->
          <div class="clearfix hidden-xs hidden-sm"></div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-spa-pricing">
              <h2 class="title">Sleep Ceremony</h2>
              <p>The definitive path to a blissful night’s sleep, this restful retreat will relax and reset your mind and body, lulling you peacefully into a serene slumber.</p>
              <div class="price">$60</div>
            </div><!--/.single-spa-pricing-->
          </div><!--/.col-md-4-->
          <div class="clearfix hidden-md hidden-lg"></div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-spa-pricing">
              <h2 class="title">De-Stress Retreat</h2>
              <p>The ideal retreat to combat stress and restore the body back to balance.</p>
              <div class="price">$80</div>
            </div><!--/.single-spa-pricing-->
          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-spa-pricing">
              <h2 class="title">Swedish Massage</h2>
              <p>The definitive path to a blissful night’s sleep, this restful retreat will relax and reset your mind and body, lulling you peacefully into a serene slumber.</p>
              <div class="price">$299</div>
            </div><!--/.single-spa-pricing-->
          </div><!--/.col-md-4-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.spa-pricing-area-->
    <!--================= Site Footer ===================-->