 <!--================= Page Wellcome Area ===================-->
    <div class="page-heading-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="page-heading">widding Event
            </h2><!--/.page-heading-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container--> 
    </div><!--/.page-heading-area-->
    <div class="page-nav-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb page-nav list-unstyled">
              <li><a href="<%= root_url %>">Home</a></li>
              <li>widding
              </li>
            </ul><!--/.page-nav-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.page-title-area-->
    <!--================= Content Area ===================-->
    <div class="page-gallery-area">
      <div class="page-gallery-carousel owl-carousel">
        <div class="item"><img src="/assets/gallery/wedding/img-1.jpg" alt="img"></div><!--/.item-->
        <div class="item"><img src="/assets/gallery/wedding/img-2.jpg" alt="img"></div><!--/.item-->
        <div class="item"><img src="/assets/gallery/wedding/img-3.jpg" alt="img"></div><!--/.item-->
        <div class="item"><img src="/assets/gallery/wedding/img-4.jpg" alt="img"></div><!--/.item-->
        <div class="item"><img src="/assets/gallery/wedding/img-3.jpg" alt="img"></div><!--/.item-->
      </div><!--/.page-gallery-carousel-->
    </div><!--/.page-gallery-area-->
    <div class="wedding-page-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-full-width">
            <div class="section-title-area text-center">
              <h2 class="section-title">To Celebrate Weddings</h2>
              <p class="section-title-dec">How we can help</p>
            </div><!--/.section-title-area-->
          </div><!--/.col-md-6-->
        </div><!--/.row-->
        <div class="row">
          <div class="col-md-5">
            <div class="section-align-title-area text-right">
              <p class="section-align-title-dec">All your romantic mood and imagination is devoted to the details of this ideal wedding, the wedding gown, the venue of the ceremony and the reception.</p>
            </div><!--/.section-align-title-area-->
          </div><!--/.col-md-5-->
          <div class="col-md-7">
            <div class="section-gallery-group">
              <div class="col-sm-6 col-xs-6">                   
                <figure class="item"><img src="/assets/wedding-1.jpg" alt="img"></figure>
              </div>
              <div class="col-sm-6 col-xs-6">
                <figure class="item"><img src="/assets/wedding-2.jpg" alt="img"></figure>
              </div>
              <div class="clearfix"></div>
            </div><!--/.section-gallery-group-->
          </div><!--/.col-md-7-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.wedding-gallery-area-->
    <div class="wedding-plan-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title-area text-center">
              <h2 class="section-title">wedding plans</h2>
            </div><!--/.section-title-area-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-wedding-place">
              <figure class="thumb"><img src="/assets/place/wedding/img-1.jpg" alt="thumb"></figure>
              <div class="single-wedding-info">
                <h2 class="title">Wedding on the beach</h2>
                <p>From #2,000</p>
              </div><!--/.single-wedding-info-->
            </div><!--/.single-wedding-place-->
          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-wedding-place">
              <figure class="thumb"><img src="/assets/place/wedding/img-2.jpg" alt="thumb"></figure>
              <div class="single-wedding-info">
                <h2 class="title">Wedding on the beach</h2>
                <p>From #2,000</p>
              </div><!--/.single-wedding-info-->
            </div><!--/.single-wedding-place-->
          </div><!--/.col-md-4-->
          <div class="clearfix hidden-md hidden-lg"></div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-wedding-place">
              <figure class="thumb"><img src="/assets/place/wedding/img-3.jpg" alt="thumb"></figure>
              <div class="single-wedding-info">
                <h2 class="title">Wedding on the beach</h2>
                <p>From #2,000</p>
              </div><!--/.single-wedding-info-->
            </div><!--/.single-wedding-place-->
          </div><!--/.col-md-4-->
          <div class="clearfix hidden-xs hidden-sm"></div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-wedding-place">
              <figure class="thumb"><img src="/assets/place/wedding/img-4.jpg" alt="thumb"></figure>
              <div class="single-wedding-info">
                <h2 class="title">Wedding on the beach</h2>
                <p>From #2,000</p>
              </div><!--/.single-wedding-info-->
            </div><!--/.single-wedding-place-->
          </div><!--/.col-md-4-->
          <div class="clearfix hidden-md hidden-lg"></div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-wedding-place">
              <figure class="thumb"><img src="/assets/place/wedding/img-5.jpg" alt="thumb"></figure>
              <div class="single-wedding-info">
                <h2 class="title">Wedding on the beach</h2>
                <p>From #2,000</p>
              </div><!--/.single-wedding-info-->
            </div><!--/.single-wedding-place-->
          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-wedding-place">
              <figure class="thumb"><img src="/assets/place/wedding/img-6.jpg" alt="thumb"></figure>
              <div class="single-wedding-info">
                <h2 class="title">Wedding on the beach</h2>
                <p>From #2,000</p>
              </div><!--/.single-wedding-info-->
            </div><!--/.single-wedding-place-->
          </div><!--/.col-md-4-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.wedding-plan-area-->
    <!--================= Site Footer ===================-->